In [73]:
import pandas as pd

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.impute import SimpleImputer

from sklearn.pipeline import Pipeline

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [45]:
df = pd.read_csv('./medical_cost.csv')
df = df.drop("Id", axis=1)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [46]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

### Pre processing

In [48]:
df = pd.concat([
    df.drop(["sex", "children", "smoker", "region"], axis=1), 
    pd.get_dummies(df["sex"], prefix="sex"), 
    pd.get_dummies(df["children"], prefix="childrens"),
    pd.get_dummies(df["smoker"], prefix="smoker"),
    pd.get_dummies(df["region"], prefix="region"),
], axis=1)

In [49]:
mms = MinMaxScaler()

df["bmi"] = mms.fit_transform(df[["bmi"]])

In [50]:
df.head()

,age,sex,bmi,charges,childrens_0,childrens_1,childrens_2,childrens_3,childrens_4,childrens_5,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,0.321227,16884.92400,1,0,0,0,0,0,0,1,0,0,0,1
1,18,1,0.479150,1725.55230,0,1,0,0,0,0,1,0,0,0,1,0
2,28,1,0.458434,4449.46200,0,0,0,1,0,0,1,0,0,0,1,0
3,33,1,0.181464,21984.47061,1,0,0,0,0,0,1,0,0,1,0,0
4,32,1,0.347592,3866.85520,1,0,0,0,0,0,1,0,0,1,0,0

In [51]:
X = df.drop("charges", axis=1)
y = df["charges"]

In [70]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=.2, random_state=10)

In [74]:
linear = Pipeline([
    ("impute", SimpleImputer()),
    ("scaler", StandardScaler()),
    ("linear", LinearRegression())
])

linear.fit(X_train, y_train)
linear.score(X_train, y_train)

0.7629417590883716